<!DOCTYPE html>
<html lang="en">




<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://source.ploume.io/latest/css/ploume.min.css">
    <link rel="stylesheet" href="css/styles.css"/>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
    <script src="https://pagecdn.io/lib/particles/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


    <title>Title</title>

</head>
<body>
<div id="particles-js"></div>


<div id="fullpage">
    <div class="section section1">Some section</div>
    <div class="section section2">Some section</div>
    <div class="section section3">Some section</div>
    <div class="section section4">Some section</div>
</div>







<script src="C:\wamp64\www\template\js.js"> </script>
</body>

</html>